/* .table-container {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 20px;
    width: 50%; 
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-item {
    margin-bottom: 20px;
  }
  
  .post-item button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .post-divider {
    border: 1px solid black;
    margin-top: 10px;
  }
   */